@model Prooviulesanne.Models.Domain.Enterprise
@using Prooviulesanne.Models.Domain

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-3 left-side text-center" id="lisamine">

        <p id="ytext">Osavõtja info</p>
    </div>
    <div class="col-9">

        <img id="image" class="fit-image" src="~/img/libled.jpg" alt="randomimage">
    </div>

    <div class="row" style="background-color: white" id="midcontainer2">
        <br />
        <h3>Osavõtja info </h3>
    <div class="col-md-4" style="background-color : white">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                    <label asp-for="EnterpriseName" class="control-label"></label>
                    <input asp-for="EnterpriseName" class="form-control" />
                    <span asp-validation-for="EnterpriseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="BusinessIdentificationNumber" class="control-label"></label>
                    <input asp-for="BusinessIdentificationNumber" class="form-control" />
                    <span asp-validation-for="BusinessIdentificationNumber" class="text-danger"></span>
            </div>
                        <div class="form-group">
                    <label asp-for="AttendanceNumber" class="control-label"></label>
                    <input asp-for="AttendanceNumber" class="form-control" />
                    <span asp-validation-for="AttendanceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="PaymentType" class="control-label"></label>
                    <select asp-for="PaymentType" class="form-control" asp-items="Html.GetEnumSelectList<PaymentType>()"></select>
                    <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <input asp-for="Details" class="form-control" />
                    <span asp-validation-for="Details" class="text-danger"></span>
            </div>


            <div class="form-group">
                    <a asp-action="Index" style="background-color: #D2D2CF; color: black;"  class="btn btn-primary" asp-route-Id="@Model.EventId">Tagasi</a>
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
  
        </form>
    </div>
</div>

<div>
