@model Prooviulesanne.Models.Domain.Citizen
@using Prooviulesanne.Models.Domain


<div class="row">
	<h1>Vead</h1>
	<div class="col-md-4">
		<form asp-controller="Citizens" asp-action="CreateCitizen">
			<input asp-for="EventId" type="hidden" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="IdentificationNumber" class="control-label"></label>
				<input asp-for="IdentificationNumber" class="form-control" />
				<span asp-validation-for="IdentificationNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Details" class="control-label"></label>
				<input asp-for="Details" class="form-control" />
				<span asp-validation-for="Details" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PaymentType" class="control-label"></label>
				<select asp-for="PaymentType" class="form-control" asp-items="Html.GetEnumSelectList<PaymentType>()"></select>
				<span asp-validation-for="PaymentType" class="text-danger"></span>
			</div>
			<br />

			<div class="form-group">
				<a type="submit" style="background-color: #D2D2CF; color: black;" asp-controller="Home" asp-action="Details" asp-action="@Model.EventId" class="btn btn-primary">Tagasi</a>
			
				<input type="submit" value="Lisa Eraisik" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>


