<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prooviulesanne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Prooviulesanne.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="row">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Prooviulesanne</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start text-white" id="footer"
            style="background-color: #373737">
   
        <div class="container p-4 pb-0">

            <section class="">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Curabitor</h3>
                        <p> Emauris</p>
                        <p>
                            Kfringilla
                        </p>
                        <p>
                            Oin magna sem
                        </p>
                        <p>
                            Kelementum
                        </p>
                    </div>
     

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Fusce</h3>
                        <p> Econsecteur</p>
                        <p>
                            Ksollicitudin
                        </p>
                        <p>
                            Omvulputatee
                        </p>
                        <p>
                            Nunc fringilla telu
                        </p>
                    </div>              

                    <hr class="w-100 clearfix d-md-none" />
                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Kontakt</h3>
                        <h5 class="font-weight-bold"> Peakontor: Tallinnas</h5>
                        <p>
                            Väike-Ameerika 1, 11415 Tallinn
                        </p>
                        <p>
                            Telefon: 605 4450
                        </p>
                        <p>
                            Faks: 605 3186
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
                        <br>
                        <h5 class="font-weight-bold"> Harukontor: Võrus</h5>
                        <p>
                            Oja tn 7 (külastusaadress)
                        </p>
                        <p>
                            Telefon: 605 3330
                        </p>
                        <p>
                            Faks: 605 3155
                        </p>
                    </div>
            </section>
        </div>

    </footer>


        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
